<p>주식정보 보여주기</p>

<%= @c_name %>
<%= @c_price %>

<!--여기서부터 난리가 났음..ㅠㅠ-->
<!--gem을 잘못 설치한건지..아니면 애초에 rails 버전을 잘못 설정한건지-->
<!--콘솔 창에 $rails s -b 0.0.0.0 -p8080 입력하면 아래와 같이 출력-->
<!--일단 2nd app 은 git에 올려뒀고, 시간 나는 대로 새 프로젝트 생성해서 해보겠습니다!-->

<!--dakyungis:~/workspace $ rails s -b 0.0.0.0 -p 8080-->
<!--Could not find gem 'rails (= 5.0.6)' in any of the gem sources listed in your Gemfile.-->
<!--Run `bundle install` to install missing gems.-->
<!--dakyungis:~/workspace $ bundle install-->
<!--Fetching gem metadata from https://rubygems.org/.........-->
<!--Fetching gem metadata from https://rubygems.org/.-->
<!--Resolving dependencies...-->
<!--Bundler could not find compatible versions for gem "actionpack":-->
<!--  In snapshot (Gemfile.lock):-->
<!--    actionpack (= 4.2.5)-->

<!--  In Gemfile:-->
<!--    rails (= 5.0.6) was resolved to 5.0.6, which depends on-->
<!--      actionpack (= 5.0.6)-->

<!--    sass-rails (~> 5.0.6) was resolved to 5.0.6, which depends on-->
<!--      railties (< 6, >= 4.0.0) was resolved to 4.2.5, which depends on-->
<!--        actionpack (= 4.2.5)-->

<!--Running `bundle update` will rebuild your snapshot from scratch, using only-->
<!--the gems in your Gemfile, which may resolve the conflict.-->



<!--Bundler could not find compatible versions for gem "actionpack":-->
<!--  In snapshot (Gemfile.lock):-->
<!--    actionpack (= 4.2.5)-->

<!--  In Gemfile:-->
<!--    rails (= 5.0.6) was resolved to 5.0.6, which depends on-->
<!--      actionpack (= 5.0.6)-->

<!--    sass-rails (~> 5.0.6) was resolved to 5.0.6, which depends on-->
<!--      railties (< 6, >= 4.0.0) was resolved to 4.2.5, which depends on-->
<!--        actionpack (= 4.2.5)-->

<!--Running `bundle update` will rebuild your snapshot from scratch, using only-->
<!--the gems in your Gemfile, which may resolve the conflict.-->